.zombie-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
}

.zombieDiv
{
    position: relative;
}
.zombieText
{
    position: absolute;
    top: 50%;
}
.zombie {
    display: flex;
    align-items: center;
    position: relative;
}

    .zombie .ear {
        background: #a4cc8c;
        height: 90px;
        width: 45px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .zombie .ear.left {
            border-bottom-left-radius: 90px;
            border-top-left-radius: 90px;
            left: -15%;
        }

            .zombie .ear.left::after {
                content: "";
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
            }

        .zombie .ear.right {
            border-bottom-right-radius: 90px;
            border-top-right-radius: 90px;
            right: -14%;
        }

            .zombie .ear.right::after {
                content: "";
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
            }

        .zombie .ear::after {
            content: "";
            height: 50px;
            width: 25px;
            background: #111a0c;
        }

    .zombie .head {
        display: flex;
        justify-content: center;
        position: relative;
    }

        .zombie .head::after {
            content: "";
            background: #a4cc8c;
            border-radius: 50%;
            bottom: -5%;
            height: 83.3333333333px;
            position: absolute;
            width: 136px;
        }

        .zombie .head .upper-part {
            background: #a4cc8c;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            display: flex;
            justify-content: center;
            position: relative;
            box-shadow: inset -7px 10px 40px 3px #7eab64;
            z-index: 10;
        }

            .zombie .head .upper-part .features {
                height: 100%;
                width: 100%;
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 10%;
            }

                .zombie .head .upper-part .features .eyes {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    height: 60px;
                }

                    .zombie .head .upper-part .features .eyes .eye {
                        height: 100%;
                        width: 30%;
                        border-radius: 50%;
                        background: white;
                        display: flex;
                        flex-direction: column-reverse;
                        border: 10px solid #4e6b3c;
                    }

                        .zombie .head .upper-part .features .eyes .eye .pupil {
                            height: 60%;
                            width: 65%;
                            border-radius: 50%;
                            background: #6da84a;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                        }

                            .zombie .head .upper-part .features .eyes .eye .pupil .iris {
                                height: 75%;
                                width: 75%;
                                background: black;
                                border-radius: 50%;
                            }

                .zombie .head .upper-part .features .mouth {
                    width: 45%;
                    height: 40%;
                    border-radius: 50%;
                    background: #c13445;
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    position: relative;
                    box-shadow: inset 15px 50px #771f29;
                }

                    .zombie .head .upper-part .features .mouth .tooth {
                        height: 15px;
                        width: 17px;
                        background: white;
                        position: absolute;
                        border-radius: 2px;
                        border-style: solid;
                        border-width: 1px;
                    }

                        .zombie .head .upper-part .features .mouth .tooth.top {
                            top: 5%;
                            border-top: 0;
                        }

                        .zombie .head .upper-part .features .mouth .tooth.bottom {
                            bottom: 0;
                            border-bottom: 0;
                        }

                        .zombie .head .upper-part .features .mouth .tooth.left {
                            left: 22%;
                            -webkit-transform: rotateZ(-17deg);
                            transform: rotateZ(-17deg);
                        }

                        .zombie .head .upper-part .features .mouth .tooth.center {
                            left: 50%;
                            -webkit-transform: rotateZ(5deg);
                            transform: rotateZ(5deg);
                        }

                        .zombie .head .upper-part .features .mouth .tooth.right {
                            right: 20%;
                            top: 6%;
                            -webkit-transform: rotateZ(22deg);
                            transform: rotateZ(22deg);
                        }

            .zombie .head .upper-part .scars.upper {
                position: absolute;
            }

                .zombie .head .upper-part .scars.upper .scar {
                    z-index: 15;
                    height: 1px;
                    width: 50px;
                    border: 1px solid black;
                    margin: 0 auto;
                    -webkit-transform: rotate(60deg) translate(25px);
                    transform: rotate(60deg) translate(25px);
                    border-radius: 50%;
                    position: relative;
                }

                    .zombie .head .upper-part .scars.upper .scar::after {
                        content: "";
                        position: absolute;
                        left: 15px;
                        top: -15px;
                        height: 30px;
                        width: 1px;
                        background: #000;
                        -webkit-transform: rotateZ(20deg);
                        transform: rotateZ(20deg);
                        box-shadow: 20px 0px rgba(0, 0, 0, 0.75);
                    }

            .zombie .head .upper-part .scars.bottom {
                position: absolute;
                bottom: 5%;
                left: 10%;
            }

                .zombie .head .upper-part .scars.bottom::after {
                    content: "";
                    height: 30px;
                    width: 1px;
                    background: #000;
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    -webkit-transform: rotateZ(130deg);
                    transform: rotateZ(130deg);
                    box-shadow: 20px -3px rgba(0, 0, 0, 0.75);
                }

                .zombie .head .upper-part .scars.bottom .clip-scar {
                    width: 50px;
                    height: 80px;
                    background: #000;
                    -webkit-clip-path: polygon(33% 15%, 46% 23%, 45% 37%, 38% 44%, 31% 53%, 50% 78%, 26% 52%, 36% 37%, 39% 23%, 20% 10%);
                    clip-path: polygon(33% 15%, 46% 23%, 45% 37%, 38% 44%, 31% 53%, 50% 78%, 26% 52%, 36% 37%, 39% 23%, 20% 10%);
                    -webkit-transform: rotateZ(30deg);
                    transform: rotateZ(30deg);
                }
